/*Generics*/

*{
    box-sizing: border-box;
    padding: 0
    margin: 0;
}

.debug {
    2px dashed red;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}


/*Generics*/
