/*Generics*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.debug {
  border: 2px dashed red;
  min-height: 50px;
}

.debug-box {
  line-height: 80px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

/*Layout*/

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  background-color: #0084fd;
  height: 60px;
}

#section .col {
  padding: 1rem;
}

.card {
  background-color: #b5ddff;
  padding: 1rem;
  border-radius: 50px;
}

.row {
  margin: 0 -1rem;
}

section {
  padding: 3rem;
}

/*header*/

.menu li {
  display: inline-block;
  padding: 10px;
}

.logo {
  height: 50%;
}

.menu {
  display: none;
}

/*Section 2*/

#section2 {
  background-color: #9792e4;
}

.section2-card {
  width: calc(100% / 2);
}

/*Responsive layout*/

/* Tablet */

@media screen and (min-width: 576px) {
  header .fa-bars {
    display: none;
  }

  header .menu {
    display: inline-block;
  }

  #section .container .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section .col {
    width: calc(100% / 3);
  }

  #section .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #section .col:first-child .card {
    display: flex;
  }

  .card-section {
    width: 50%;
  }
}

/* Desktop */

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}
